# Default values for todo-chatbot.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: "todo-chatbot"

frontend:
  replicaCount: 1
  image:
    repository: todo-frontend
    pullPolicy: Never  # Since using Minikube's local images
    # Overrides the image tag whose default is the chart appVersion.
    tag: "1.3"
  service:
    type: ClusterIP
    port: 3000
  resources: {}

backend:
  replicaCount: 1
  image:
    repository: todo-backend
    pullPolicy: Never  # Since using Minikube's local images
    # Overrides the image tag whose default is the chart appVersion.
    tag: "1.1"
  service:
    type: ClusterIP
    port: 8000
  resources: {}

ingress:
  enabled: false
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/configuration-snippet: |
      location ~ ^/api/auth(.*)$ {
        proxy_pass http://todo-chatbot-backend:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
      }
  hosts:
    - host: todo.local
      paths:
        - path: /
          pathType: Prefix
          port: 3000  # Target frontend service port
  tls: []

resources: {}