apiVersion: v1
kind: Service
metadata:
  name: todo-backend
  labels:
    {{- include "todo-chatbot.backend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.backend.service.type }}
  ports:
    - port: {{ .Values.backend.service.port }}
      targetPort: {{ .Values.backend.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "todo-chatbot.backend.selectorLabels" . | nindent 4 }}
